{% load static %}
<html>
    <head>
        {% load bootstrap5 %}
        {% load crispy_forms_tags %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body style="background-color: #f5f2f0;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand">
                <img src="{% static 'images\libraryLogoNavbarBlue.png' %}" alt="Logo" height="30">
            </a>
            <div class="d-flex flex-column ms-auto ">
                <strong>User Name: {{user.username}}</strong>
                <strong>Group: {{user_group.name}}</strong>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homePage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue' %}">View/Borrow Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booksOnLoan' %}">View Current Loans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userLateFees' %}">
                            {% if user_group.name == 'Staff' %}
                                Manage Late Fees
                            {% else %}
                                View Late Fees
                            {% endif %}
                        </a>
                    </li>
                    {% if user_group.name == 'Staff' %}
                    <li class="nav-item">
                        <a class = "nav-link" href="{% url 'processReturns'%}">Manage All Loans</a>
                    </li>
                    {% endif %}

                    {% if user_group.name == 'Librarian' %}
                    <li class="nav-item">
                        <a class = "nav-link" href="{% url 'addNewBook'%}">Add New Book</a>
                    </li>
                    {% endif %}

                    {% if user_group.name == 'Admin' %}
                    <li class="nav-item">
                        <a class = "nav-link" href="{% url 'adminManageUsers'%}">Manage Users</a>
                    </li>
                    {% endif %}
                    <lu class = "nav-item">
                        <a class = "nav-link" href = "{% url 'logout' %}">Log Out</a>
                    </lu>

                </ul>
            </div>
        </nav>
        {% block content %}
        <div class="container mt-4">
            <h2>Add New Book</h2>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class = "btn btn-primary">Add Book</button>
            </form>
        </div>
        {% endblock %}
    </body>
</html>