{% load static %}

<html>
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body style="background-color: #f5f2f0;">
        <div class="container mt-4">
            <h2>Delete User</h2>
            <p>Are you sure you want to delete user "{{ user.username }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button><a href = "manageUsers/"><button class="btn btn-secondary">Go Back</button></a>
            </form>
        </div>
    </body>
</html>