{% load static %}
<html>
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <section class="vh-100" style="background-color: #f5f2f0;">
            <button type="button" class="btn w-100 mb-2">View cataglouge</button>
            <button type="button" class="btn btn-secondary w-100 mb-2">View/Pay Late Fees</button>
            <button type="button" class="btn btn-secondary w-100 mb-2">Register</button>
            <button type="button" class="btn btn-secondary w-100 mb-2">View Current Loans</button>
        </section>
    </body>
</html>