{% load static %}
<html>
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <section class="vh-100" style="background-color: #f5f2f0;">
            <a href="{% url 'catalogue' %}"><button type="button" class="btn btn-secondary w-100 mb-2">View cataglouge</button></a>
            <button type="button" class="btn btn-secondary w-100 mb-2">Borrow Book</button>
            <button type="button" class="btn btn-secondary w-100 mb-2">View Current Loans</button>
            <button type="button" class="btn btn-secondary w-100 mb-2">View/Pay Late Fees</button>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary w-100 mb-2">Logout</button></a>
        </section>
    </body>
</html>